@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background:
    radial-gradient(circle at 5% 100%, #f4e7deab, transparent 25%),
    radial-gradient(circle at 100% 10%, #f4e7deb7, transparent 25%),
    linear-gradient(
      135deg,
      #b8a6e7 0%,
      #faafac 100%
    );
  background-attachment: fixed;
  background-color: #f4e7de;
}

section {
  min-height: 100vh;
}